.jumbotron {
    background-color: gold !important; 
}

.jumbotron h1 {
    color: #000;
    text-shadow: 3px 3px #fff;
}

/* Attempting to override the bootstrap css */
.container-flud {
    background-color: bisque;
}